
#page1{
  margin:auto;
  background-color: black;
  height: 155px;



}
.outer{
  margin: 180px 80px;
  font-family: 'Monoton',cursive;
  color:#e58e26;

}

#headline{
  font-size: 85px;
height:40px;
wide:100%;
}
.inner{
  position: absolute;
  border: 0 solid orange;
  height:138px;
  font-size: 130px;
  font-weight:bold;
  font-family: 'Audiowide',cursive;
  text-transform: uppercase;
  display: inline-block;
  overflow: hidden;
}
.inner span{
  animation: animate 10s ease infinite;
  position:relative;
  color:white;
  line-height: 134px;
}
@keyframes animate {
  0%{top:0}
  20%{top:0}
  25%{top:-160px}
  50%{top:-160px}
  60%{top:-330px}
  70%{top:-330px}
  75%{top:-480px}
  95%{top:-480px}
  100%{top:-5px}


}
a{
  font-family: 'Audiowide',cursive;
}
